body, html {
	height: 100%;
	margin: 0px;
	background-color: #deb887;
}

@media(max-width: 500px){
	
	.container-1 {
	display: flex;
	border: 0.1vw grey solid;
	align-items: space-around;
	background-color: #0A344D;
	flex-direction: column;
	position: fixed;
	z-index: 1;
	width: 100%;
		}

	.container-1 li {
		font-size: 4vw;
	}

	.container-4 {
		font-size: 2vw;
	}

	.container-2, .container-3 {
		display: flex;
		flex-direction: column;
	}

}

.container-1 {
	display: flex;
	border: 0.1vw grey solid;
	align-items: center;
	background-color: #0A344D;
	z-index: 1;
	width: 100%;
}

.container-1 img {
	flex: 1;
	height: 8vw;
	shape-rendering: optimizeSpeed;
}

.container-1 h1 {
	flex: 7;
	margin: 0;
	font-size: 4vw;
	font-family: 'Crete Round', serif;
	color: #cdc4cc;	
}

.container-1 li {
	flex: 1;
	border: 0.1vw black;
	display: inline;
	padding-right: 5vw;
	font-size: 2vw;
}
	
ul a {
	text-decoration: none;
	color: #c8dca0;
}

ul a:hover{
	text-shadow: 0.2vw 0.2vw 0.4vw #f694c1;
	color: #ddf3db;
}

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), 
	          url(sportsspirit.jpg);
	height: 80%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	padding-top: 25vw;
}

.hero-text {
	text-align: center;
	font-family: 'Crete Round', serif;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.sport {
	text-align: center; 
	position: relative; 
	top: 1vw;
	color: #5a5050;
}

.container-2, .container-3 {
	display: flex;
	justify-content: center;
}

.container-2 content, .container-3 content {
	flex: 1;
	color: white;
	text-align: center;
}

.cricket, .football, .vollyball, .hockey, .badminton, .basketball {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 30vw;
	margin-right: 1vw;
	margin-bottom: 1vw; 	
}

.container-4 {
	display: flex;
	align-items: center; 
	justify-content: center;
	flex-direction: column;
	background-color: #5E4796;
}

.container-4 content {
	font-size: 5vw;
	color: #f7e249;
}